/* COVER */

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91vh;
  background: url(../../Images/Q.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .lift  >h1 {
  color: red;
} */

.lift {
  font-family: 'Unlock', cursive;
  font-size: 2em;
  padding-bottom: 400px;
  color: beige;
}
